.btn {
    color: white;
    font-size: smaller;
    text-transform: lowercase;
}

.list-group-item {
    border: 1px none black;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgb(197, 201, 207);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#card {
    display: flex;
    justify-content:space-evenly;
}


.form-control2 {
    border: none;
    border-radius: 15px;
    width: 50px;
    text-align: center;
}

