<div class="col-md-6" [ngStyle]="{ 'display': calculator ? 'block' : 'none' }">
  <h3> Lista de presupuestos </h3>
  <div class="mb-3">
      <input type="text" class="form-control" placeholder="Buscar por nombre">
      <button class="btn btn-primary"> Buscar </button>
  </div>
  <button class="btn btn-primary">Ordenar alfabéticamente</button>
  <button class="btn btn-success">Ordenar por fecha de creación</button>
  <button class="btn btn-warning">Reiniciar</button>
  <ul class="list-group mt-3">
      <li class="list-group-item">Elemento 1</li>
  </ul>
</div>
