
<div class="welcome">
  <div class="text-center" style="margin-top: 10%;">
    <h1>Bienvenido al creador de presupuestos</h1>
    <img src="https://img.freepik.com/free-vector/clipboard-with-official-doc-managing-extra-money-board-with-paper-finance-planer-yellow-coin-stack-money-pile-bonus-fund-benefits-prosperity-vector-isolated-concept-metaphor-illustration_335657-2153.jpg?w=900&t=st=1690185657~exp=1690186257~hmac=1b52c9608dd406bc11865e3ebf01f3316a3bc931c2796bb00187147c7eeeece3" alt="A man with a calculator" style="display:inline-block"> <br>
    <button routerLink="/calculator" id="startButton" class="btn btn-primary"> Comenzar </button>
  </div>
</div>
