<form class="container">
  <div id="card">
    <label for="pageNumber"> Número de páginas: </label>
    <button
      class="btn1"
      (click)="increaseByPages(+1);changeWebPricing() ; sumPrice()">
      +
    </button>
    
    <input
      type="number"
      id="pageNumber"
      class="form-control2 mb-2"
      placeholder="1"
      [value]="budget.webPageService.numPages"/>
   
      <button
      class="btn1"
      (click)="increaseByPages(-1);changeWebPricing(); sumPrice()">
      -
    </button>

    <app-modal class="btn2"></app-modal>
  
  </div>
  
  <div id="card">
    <label for="languageNumber"> Número de idiomas: </label>
    <button
      class="btn1"
      (click)="increaseByLanguages(+1);changeWebPricing(); sumPrice()">
      +
    </button>
  
    <input
      type="number"
      id="languageNumber"
      class="form-control2 mb-2"
      placeholder="1"
      [value]="budget.webPageService.numLanguage"/>
   
      <button
      class="btn1"
      (click)="increaseByLanguages(-1);changeWebPricing(); sumPrice()" >
      -
    </button>

    <div class="btn2"><app-modal></app-modal></div>
 
  </div>
</form>
