 <body>
  <h3 class="mt-5"> Selecciona los servicios a contratar: </h3>
  <!-- FORMULARIO -->
  <ul class="list-group">
    <li class="list-group-item">
      <label class="form-check-label" for="firstCheckbox"> Creación de página web <br><b>500€</b> </label>
      <input class="form-check-input checkbox-xl " type="checkbox" value="" id="firstCheckbox">
    </li>

    <div id="formulario">
       <label for="pageNumber"> Numero de páginas: </label>
      <input type="number" id="pageNumber" class="form-control mb-2" placeholder="Input 3">
      <label> Numero de idiomas: </label>
      <input type="number" class="form-control mb-2" placeholder="Input 4">
    </div>


    <li class="list-group-item">
      <label class="form-check-label" for="secondCheckbox"> Consultoría SEO <br><b>300€</b></label>
      <input class="form-check-input checkbox-xl" type="checkbox" value="" id="secondCheckbox">
    </li>
    <li class="list-group-item ">
      <label class="form-check-label" for="thirdCheckbox"> Campaña Google Ads <br><b>200€</b></label>
      <input class="form-check-input checkbox-xl" type="checkbox" value="" id="thirdCheckbox">
    </li>
  </ul>
  <div id="formulario">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="floatingInput">
        <label for="floatingInput">Nombre del presupuesto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput">
        <label for="floatingInput">Nombre del cliente</label>
    </div>
  </div>
  <p>El precio total de este presupuesto es <b> EUROS </b> </p> 
  <button id="enviarBtn" class="btn "> Guardar </button>
  <!-- FORMULARIO END -->
  <button routerLink="" class="btn" style="position: absolute;top: 95%; left: 10px;"> <-- Regresar a home</button>
  <!-- <app-budget-list></app-budget-list> -->
</body>

