<header>
  <div class="row">
    <div class="col-11"><p>BudgetCreator™</p></div>
    <div class="col-1">
      <button routerLink="" class="homeBtn">Volver</button>
    </div>
  </div>
</header>

<img
  src="./assets/header.png"
  alt="Imagen con fondo abstracto que pone consiga el mejor precio"
/>
<body>
  <div class="row">
    <div class="col-12 form">
      <h3 class="mt-5 mb-3 fs-4 text-center">NUEVO PRESUPUESTO</h3>

      <ul class="list-group">
        <li class="list-group-item">
          <label for="firstCheckbox">
            <h5>Web</h5>
            <p>
              Creación de una página web responsive que cubrirá todas las
              necesidades de su empresa
            </p>
          </label>
          <b class="fs-3"> 500€ </b>
          <input
            class="form-check-input checkbox-xl"
            type="checkbox"
            name="webPageService"
            [(ngModel)]="service.budget.webPageService.active"
            (ngModelChange)="service.sumPrice(); this.service.showInputs()"
          />
        </li>

        <app-panel *ngIf="this.service.show" (valuesForm)="takeValuePanel()"></app-panel>

        <li class="list-group-item">
          <label for="secondCheckbox">
            <h5>SEO</h5>
            <p>
              Consulta personalizada para implementar la tecnologia Search
              Engine Optimization a la web
            </p>
          </label>
          <b class="fs-3"> 300€ </b>
          <input
            class="form-check-input checkbox-xl"
            type="checkbox"
            name="seoService"
            [(ngModel)]="service.budget.seoService"
            (ngModelChange)="service.sumPrice()"
          />
        </li>

        <li class="list-group-item">
          <label for="thirdCheckbox">
            <h5>Google Ads</h5>
            <p>
              Maximize su alcance y aumente sus ventas con nuestro poderoso
              servicio de Google Ads
            </p>
          </label>
          <b class="fs-3"> 200€ </b>
          <input
            class="form-check-input checkbox-xl"
            type="checkbox"
            name="googleAdsService"
            [(ngModel)]="service.budget.googleAdsService"
            (ngModelChange)="service.sumPrice()"
          />
        </li>
      </ul>
  

      <form (ngSubmit)="this.service.onSubmit()">
        <div class="row mt-3">
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="budgetName"
                [(ngModel)]="service.budget.budgetName"
              />
              <label for="floatingInput"> Nombre del presupuesto </label>
              <div *ngIf="this.service.nameError">
                <p class="error">Por favor complete el campo con al menos un caracter</p>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="clientName"
                [(ngModel)]="service.budget.clientName"
              />
              <label for="floatingInput"> Nombre del cliente </label>
              <div *ngIf="this.service.clientError">
                <p class="error">Por favor complete el campo con al menos un caracter</p>
            </div>
            </div>
          </div>
        </div>
        <p class="fs-4 mt-2 me-3">
          Precio total: <b> {{ this.service.budget.totalPrice }} € </b>
        </p>
        <div *ngIf="this.service.serviceError">
          <p class="error">Por favor, seleccione al menos un servicio</p>
      </div>
        <button type="submit" class="btn"> ENVIAR </button>
      </form>
    </div>
  </div>
  <br>
  <hr class="pd-5">
  
  <div class="row">
    <div class="col-12 form">
      <app-budget-list></app-budget-list>
    </div>
  </div>
</body>
