.form {
    padding-left: 10%;
    padding-right: 10%;
}

.list {
    padding-left: 0%;
    padding-right: 10%;
}

b {
    font-size: x-large;
}

.list-group-item {
    border: 1px none black;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgb(191, 199, 211);
}

.checkbox-xl {
    top: .8rem;
    scale: 1.4;
    margin-right: 0.7rem;
    margin-left: 20px;
}

.btn {
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn :hover {
    background-color: black !important;
}

.btn1 {
    width: 30px;
    height: 30px;
    background-color: rgb(247, 123, 66);
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    color: white;
}

#card {
    display: flex;
    justify-content:space-evenly;
}

.container {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    border-radius: 15px;
    padding: 5%;
    background-color: rgb(196, 238, 255);
}

.form-control2 {
    border: none;
    border-radius: 15px;
    width: 50px;
    text-align: center;
}

