.btn {
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn :hover {
    background-color: black !important;
}

.btn1 {
    width: 30px;
    height: 30px;
    background-color: rgb(247, 123, 66);
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    color: white;
}

#card {
    display: flex;
    justify-content:space-evenly;
}

.container {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    border-radius: 15px;
    padding: 5%;
    background-color: rgb(196, 238, 255);
}

.form-control2 {
    border: none;
    border-radius: 15px;
    width: 50px;
    text-align: center;
}

.btn2 {
    width: 30px;
    height: 30px;
    background-color: rgb(48, 48, 48);
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    color: white;
}
